# List

In [3]:
l = ["Hello", 4, True, "World", 6.7]

In [4]:
print(l)

['Hello', 4, True, 'World', 6.7]

In [11]:
type(l)

list

In [12]:
l[0]

'Hello'

In [13]:
l[4]

6.7

In [15]:
l[-2]

'World'

## List Slicing

In [20]:
print(l[2: ])
print(l[:3])

[True, 'World', 6.7]
['Hello', 4, True]

In [25]:
for i in l:
    print(i)

Hello
4
True
World
6.7

In [26]:
l = [5,7,2,9,3,10,1]

In [30]:
l.append(6)

In [31]:
l

[5, 7, 2, 9, 3, 10, 1, 56, 6]

In [33]:
l.insert?

In [34]:
l.insert(1, 100)

In [38]:
l.sort(reverse=True)

In [39]:
l

[100, 56, 10, 9, 7, 6, 5, 3, 2, 1]

In [41]:
l.append([9,0,8])

In [46]:
l[-1][1]

0

In [51]:
l[0]  = "Hello"

In [52]:
l

['Hello', 56, 10, 9, 7, 6, 5, 3, 2, 1, [9, 0, 8]]

## Tuple

In [47]:
tup = (6,7,3,9)

In [53]:
tup[0] = "Hello"

TypeError: 'tuple' object does not support item assignment

In [67]:
def mul_and_add(n, k):
    a = n*k
    b = n+k
    return a, b

In [68]:
mul_and_add(5,3)

(15, 8)

# Dictionary

In [69]:
menu = {
    "juice" : 20,
    "sandwich": 25,
    "fruits" : 10
}

In [70]:
type(menu)

dict

In [75]:
menu['fruits']

10

In [81]:
menu.keys()

dict_keys(['juice', 'sandwich', 'fruits'])

In [84]:
menu.values()

dict_values([20, 25, 10])

In [90]:
for key, value in menu.items():
    print(key ," cost - ",  value)

juice  cost -  20
sandwich  cost -  25
fruits  cost -  10

In [93]:
menu["coke"] = 15

In [94]:
menu

{'juice': 20, 'sandwich': 25, 'fruits': 10, 'coke': 15}

In [102]:
key="f"

In [104]:
if menu.get(key) == None:
    print(key , "doesnt exists")
else:
    print(menu[key])

f doesnt exists

In [125]:
menu[30] = "pizza"

In [135]:
menu['fruits'] = {'apple' : 12, 'mango' : 23}

In [131]:
menu['fruits']['mango']

23

In [136]:
menu

{'juice': 20,
 'sandwich': 25,
 'fruits': {'apple': 12, 'mango': 23},
 'coke': 15,
 30: 'pizza'}

In [137]:
marks = {
    'mohit' : 50,
    'prateek' : 100,
    'naman' : 45
}

In [152]:
sorted(marks, key = lambda x : x[1] )

['naman', 'mohit', 'prateek']

In [144]:
def func(a):
    return a+10

In [145]:
func(10)

20

In [151]:
(lambda a : a + 10 )(10)

20

## Set

In [114]:
s1 = {1,1,1,2,2,3}
s2 = {4,4,5,6,7,1,2,4}

In [115]:
s1

{1, 2, 3}

In [116]:
s2

{1, 2, 4, 5, 6, 7}

In [117]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7}

In [118]:
s1.intersection(s2)

{1, 2}